.dark {
    background-color: #110038;
    color: white;
    font-size: 1rem;
    .top_phrase {
        padding-left: 7px;
        padding-top: 4px;
        width: 100vw;
        height: 23px;
        font-size: 12px;
        color: white;
        background: linear-gradient(left, #2e32fb 0%, #ee3efe 100%);
        box-shadow: 0 1px 0 0 #110038;
    }
    .navbar_logo {
        #logo_light {
            display: none;
        }
        #logo_dark {
            display: block;
        }
        background: no-repeat;
    }
    ul {
        display: flex;
        align-items: center;
        height: 100px;
    }
    li {
        list-style: none;
    }
    .btn_create {
        width: 144px;
        height: 36px;
        background: #ee3efe;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
        font-size: 16px;
        color: #ffffff;
        letter-spacing: 0;
        text-align: center;
        line-height: 18px;
        margin-right: 14px;
        &:hover {
            background: #ce36db;
            border: dotted;
        }
    }
    .btn_choose {
        width: 131px;
        height: 36px;
        background: #ee3efe;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
        font-size: 16px;
        color: #ffffff;
        letter-spacing: 0;
        text-align: center;
        line-height: 18px;
        margin-right: 16, 5px;
        &:hover {
            background: #ce36db;
            border: dotted;
        }
    }
    .choose_theme {
        width: 36px;
        height: 36px;
        background: #ee3efe;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
        color: #110038;
        margin-right: 16, 5px;
        &:hover {
            background: #ce36db;
            border: dotted white;
        }
    }
    .container {
        .container_search {
            background: linear-gradient(left, #2e32fb 0%, #ee3efe 100%);
        }
        .search_button {
            &:hover {
                color: #ffffff;
                background: #ee3efe;
                border: 1px solid #110038;
                box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
            }
        }
    }
    .suggestion_sector {
        width: 1355px;
        height: 32px;
        background: #fffafe;
        border: 1px solid #2e32fb;
        box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #110038;
        margin: 40px;
    }
    .trending_container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .gif {
        width: 288px;
        height: 313px;
        background-color: #b4b4b4;
        box-shadow: inset -2px -2px 0 0 #5c5c5c, inset 2px 2px 0 0 #ffffff;
        margin: 34px;
        .container_gif {
            width: 288px;
            height: 24px;
            background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
        }
        .btn_close {
            margin-left: 260px;
        }
        .img_gif {
            width: 288px;
            height: 288px;
            position: absolute;
        }
        .see_more {
            width: 81px;
            height: 34px;
            background: #2e32fb;
            border: 1px solid #4c2f99;
            box-shadow: inset -2px -2px 0 0 #2124b3, inset 2px 2px 0 0 #ffffff;
            position: relative;
            z-index: 1;
            top: 240px;
            left: 15px;
        }
    }
    .btnflat {
        color: white;
    }
    .btnflat:hover {
        border: dotted white;
    }
    .btnflat:active {
        color: grey;
    }
    .button_cancel {
        background: #ee3efe;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
        color: white;
        &:hover {
            background: #ce36db;
        }
    }
    .button_start {
        background: #ee3efe;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
        color: white;
        &:hover {
            background: #ce36db;
        }
    }
    #button_capture {
        background: #ee3efe;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
        color: white;
        &:hover {
            background: #ce36db;
        }
    }
    .button_camera {
        background: #ee3efe;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
        color: white;
    }
    .button_repeat {
        background: #ee3efe;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
        color: white;
        &:hover {
            background: #ce36db;
        }
    }
    .button_upload {
        background: #ee3efe;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
        color: white;
        &:hover {
            background: #ce36db;
        }
    }
    #button_cancel_loading {
        background: #ee3efe;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
        color: white;
        &:hover {
            background: #ce36db;
        }
    }
    .button_copy {
        background: #ee3efe;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
        color: white;
        &:hover {
            background: #ce36db;
        }
    }
    .container_download {
        background: #ee3efe;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
        color: white;
        &:hover {
            background: #ce36db;
        }
        .a_download {
            color: white;
        }
    }
    .button_ready2 {
        background: #ee3efe;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
        color: white;
        &:hover {
            background: #ce36db;
        }
    }
    .content_list a:hover {
        background: #2e32fb;
        color: white;
    }
}